body {
  background-color: azure;
  /* background-image: url('/assets/images/blurred_backgrounds/kimberly-richards-335.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */
  /* color: white;
  font-family: 'Open Sans', sans-serif; */

  background-image: url('/assets/images/blurred_backgrounds/kimberly-richards-335.jpg'),
              url('/assets/images/WaveStreamerLogo.png');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, top left;
  background-size: cover, 20%;
}

.album {
  color: black;
}

img {
  width: 200px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 25%;
  margin-top: 20px;
}

img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
}

#album-link {
  text-decoration: none;
  color: black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#song-list {
  border-collapse: collapse;
  clear: both;
  font-weight: 100;
  margin-top: 2rem;
  overflow: hidden;
  width: 100%;
}

#song-number-column {
  width: 40px;
}
#song-duration-column {
  width: 80px;
}

tr {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  background: hsla(0, 0%, 0%, 0.01);
  transition: all 0.2s ease;
}

tr:focus {
  outline: aliceblue;
}

tr:hover .ion-play,
tr.playing .ion-pause,
tr.paused .ion-play {
  display: block;
}

tr .ion-play,
tr .ion-pause,
tr:hover .song-number,
tr.playing .ion-play,
tr.playing .song-number,
tr.paused .ion-pause,
tr.paused .song-number {
  display: none;
}

tr:hover {
  /* background: hsla(0, 0%, 0%, 0.05); */
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

tr.playing {
  background: rgba(0, 0, 0, 0.1);
  /* background: hsla(0, 0%, 0%, 0.1); */
}

tr:hover .song-title {
  color: rgba(0, 0, 0, 1);
  /* color: hsla(0, 0%, 100%, 1); */
  font-size: 1.1rem;
}

tr:last-child {
  border: none;
}

td {
  padding: 0.75rem;
}

tr button {
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  padding: 0;
}

tr button:focus {
  outline: none;
  text-shadow: 2px 4px 3px hsla(0,0%,0%,0.25);
}

tr button:focus .song-number {
  display: none;
}
tr button:focus .ion-play {
  display: block;
}

tr.playing button:focus .song-number,
tr.playing button:focus .ion-play {
  display: none;
}
tr.playing button:focus .ion-pause {
  display: block;
}


.song-number {
  color: rgba(0, 0, 0, 0.66);
  /* color: hsla(0, 0%, 100%, 0.66); */
}

.song-title {
  color: rgba(0, 0, 0, 0.9);
  /* color: hsla(0, 0%, 100%, 0.9); */
}

.song-duration {
  color: rgba(0, 0, 0, 0.5);
  /* color: hsla(0, 0%, 100%, 0.5); */
  text-align: right;
}

#album-title {
  font-size: 1.25em;
}

#small {
  font-size: 0.75em;
}
#artist {
  font-size: 1.5em;
}
