/* body {
  background-color: azure;
  background-image: url('/assets/images/blurred_backgrounds/kimberly-richards-335.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  /* color: white;
  font-family: 'Open Sans', sans-serif;
}

img {
  border-radius: 25%;
  margin-top: 20px;
}

#album-link {
  text-decoration: none;
  color: black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
} */
